body {
  background-color: black;
  color: white;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 90px;
  text-align: center;
  color: aliceblue;
  background-color: black;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  text-align: center;
  color: antiquewhite;
}
p {
    font-family: cursive;
}

table, th, td {
    border: 1px solid blanchedalmond;
    border-collapse: collapse;
}

.Boton-nav {
    /*text-transform: capitalize;*/
    border: hidden;
    width: 100%;
    background: #00a1f5;
    margin: auto;
    margin-top: 1%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
  }
  
  /* Mas oscuro al posicionar el mouse */
  .Boton-nav:hover {
    background: #0073b1;
  }